{% load static %}   

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Protected</title>
</head>
<body>
    <h1>protected Page</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea est quae voluptates facilis voluptate fugit pariatur quam voluptatem nam, laborum neque possimus nulla, magni quis vero deserunt quidem unde ab.</p>
    <a href="{% url 'home' %}">Back to home</a>
</body>
</html>