body {
    font-family: Arial, Helvetica, sans-serif;
    /* text-align: center; */
    background-color: #333;
    color: #f0f0f0;
    margin: 0;
    padding: 0;
}

img {
    width: 40%;
    height: auto;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.frmBtn {
    background-color: rgb(62, 145, 209);
    padding: 10px 25px;
    border: none;
    border-radius: 20px;
    color: white;
    cursor: pointer;
}

.frmBtn:hover {
    background-color: rgb(110, 169, 214);
}

label {
    display: block;
    padding: 10px 0;
}

.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.contact input, textarea{
    padding: 10px;
    margin: 0;
    width: calc(100% - 22px);
    border-radius: 5px;
    border: 1px solid #ccc;
}

textarea {
    resize: vertical;
}

.contact .frmBtn {
    width: 40%;
    margin: 0 30%;
}

a {
    margin: 20px 0 0 0;
    cursor: pointer;
    color: #ccc;
}

a:hover {
    color: #db6262;
}

.success {
    text-align: center;
}